body {
  margin: 0;
  font-family: 'Roboto Slab', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg, rgba(198,0,197,1) 0%, rgba(139,27,252,1) 33%, rgba(56,94,244,1) 59%, rgba(0,185,255,1) 100%);
}